<%- include ../partials/header.ejs %>
<%- include ../partials/navbar.ejs %>
<div id = "wrapper">
<section id = "large">
<main class="container">
    <div class="row">      
        <div class="offset-md-1 col-md-10">
            <h1><i class="fa-solid fa-list"></i> Active Assignments</h1>
            <h2> <a href="/assignments/add" class="btn btn-success" role="button">
                <i class="fa-regular fa-square-plus"></i> Add Assignment
            </a></h2>
            <div class="row">
            <% for (let count = 0; count < AssignmentList.length; count++) { %>
            <div class="col-md-6">
                <section id = "small">
                <div class="card border-dark">
                <div class="card-body">
                <h5 class="card-title">
                <strong> <i class="fa-solid fa-list"></i> Assignment Title:</strong> <%= AssignmentList[count].name %>
                </h5>
                <p class="card-text">
                <strong>Class:</strong> <%= AssignmentList[count].class %><br>
                <strong>Due Date:</strong> <%= AssignmentList[count].duedate %><br>
                <strong>Description:</strong> <%= AssignmentList[count].description %><br>
                <strong>Estimated Work Time:</strong> <%= AssignmentList[count].estTimeToComplete %> hours
                </p>
                <div class="d-flex justify-content-end">
                <a href="/assignments/edit/<%= AssignmentList[count]._id %>" class="btn btn-primary btn-sm me-2">
                <i class="fas fa-pencil-alt"></i> Edit
                    </a>
                    <!-- Button trigger modal from bootstrap https://getbootstrap.com/docs/4.0/components/modal/ -->
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fas fa-trash-alt"></i> Delete
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirm Assignment Deletion</h5>
                        </div>
                        <div class="modal-body">
                        <h6>This Action Cannot Be Undone!</h6>
                        </div>
                        <div class="modal-footer">
                        <a href="/assignments/delete/<%= AssignmentList[count]._id %>" > <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button></a>
                        <a href = "/assignments"><button type="button" class="btn btn-primary">Cancel</button></a>
                        </div>
                    </div>
                    </div>
                </div>
                        </div>
                        </div>
                        </div>
                    </section>
                    </div>
                <% } %>
            </div>
        </div>
</main>
</section>
</div>
<%- include ../partials/footer.ejs %>
